* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25rem;
  color:var(--text-color);
  font-style: normal;
  /* font-family: "Kannada Sangam MN"; */
  box-sizing: border-box;
}
.App {
  padding: 0 2.25rem;
  background: var(--background);
  width: 100vw;
  height: 100vh;
}

.agora-button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--button-background);
  border-radius: 25.5px;
  width: 19.3rem;
  height: 3.1rem;
}

.empty {
  background: var(--background);

  /* primary */
  border: 1px solid var(--text-color);
  border-radius: 25.5px;
}
