.home-page-display {
  padding-top: 5.75rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  line-height: 1.25rem;
}
header {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
img {
  width: 6.25rem;
}
.catch-phrases {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

span {
  color: var(--description-color);
}
p {
  font-size: var(--title-font-size);
  line-height: 1.87rem;
}

.auth-links-button {
  display: flex;
  flex-direction: column;

  gap: 1.0625rem;
}

h1 {
  color: #f2ba57;
  font-family: "Kannada MN";
  font-style: normal;
  font-size: var(--big-logo-font-size);
  line-height: 1.25rem;
}
