:root {
  --background: #fefbf6;

  --button-background: #adcf62;
  --card-background: #edf2e8;
  --text-color: #325044;
  --description-color: #737370;
  --pagination-color: #ffd07c;

  --box-shadow: rgba(50, 80, 68, 0.18);


  
  --big-logo-font-size: 2rem; /* 36 px */
  --small-logo-font-size: 2rem; /* 32 px */

  --title-font-size: 1.62rem; /* 26 px */
  --text-font-size: 1.62rem; /* 22 px */
  --description-font-size: 1rem; /* 16 px */

  --button-font-size: 0.93rem; /* 15 px */
  --icon-text-font-size: .68rem; /* 11 px */
}
