.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5.68rem;
}
.registration form{
  display: flex;
  flex-direction: column;
  gap:2rem; 
}
.registration h1 {
  font-size: var(--title-font-size);
  color: var(--text-color);
  background: var(--background);
  padding-bottom: 2.25rem;
}
.registration p {
  font-size: var(--description-font-size);
  color: var(--text-color);
  /* padding-top: 2.68rem; */
}
.registration button {
  width: 19.3rem;
  height: 3.19rem;
  border-radius: 25.5px;
  color: var(--text-color);
}
.button-submit {
  border: 0;
  background: var(--button-background);
}
.button-linkedIn {
  background: var(--background);
  border: var(--text-color) 1px solid;
}
