.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--background);
  padding-top: 5.68rem;
  gap: 4rem;
}
.step-container h2 {
  font-size: var(--title-font-size);
}

.search-bar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-bar input {
  height: 3.1875rem;
  border: 1px solid var(--description-color);
  background-color: var(--background);
  font-size: var(--button-font-size);
  color: var(--description-color);
  border-radius: 25.5px;
  padding-left: 25px;
}
.error-message {
  color: red;
  position: absolute;
  z-index: 5;
  bottom: 255px;
  right: 60px;
}
.search-bar label {
  position: absolute;
  left: 25px;
  bottom: 43px;
  background-color: var(--background);
  padding: 0 2px;
}

.skill-box {
  background-color: var(--pagination-color);

  border-radius: 100px;
  width: fit-content;
  display: flex;

  align-items: center;
  gap: 10px;
  padding: 6px 10px;
}
.skills-display {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.skills-list p {
  font-style: italic;
  align-self: center;
}
.skills-display h3 {
  margin-top: 30px;
  font-size: var(--text-font-size);
}
.skill-box img {
  width: 20px;
}
.skill-box span {
  align-self: flex-start;
}
.steps-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.footer-form span {
  color: var(--text-color);
}

.footer-form ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-form li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--pagination-color);
}
.current-step {
  background-color: var(--description-color) !important;
}
