.stepOne-button {
  width: 17.1rem;
  height: 9.87rem;
  padding: 1.75rem 0 1.43rem 0;
  background: var(--card-background);
  color: var(--text-color);
  border: 1px var(--text-color) solid;
  box-shadow: 0px 4px 4px var(--box-shadow) ;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:.75rem; 
  text-align: center;
}
.stepOne-button p {
  color: var(--description-color);
}
.stepOne-button h3 {
  font-size: var(--text-font-size);
}
.stepOne-button img {
  width: 2.37rem;
}
