.stepOneContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--background);
  padding-top: 5.68rem;
}
.stepOneContainer h2 {
  font-size: var(--title-font-size);
  margin-bottom: 5rem;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 3.37rem;
}
